.btn-active-center-border {
  position: relative; 
  overflow: hidden; 
}

.btn-active-center-border::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%); 
  height: 2px; 
  width: 0;
  background-color: rgb(35, 90, 141); 
  transition: all 0.3s ease-in-out;
}

.btn-active-center-border:hover {
  color: white; 
}

.btn-active-center-border:hover::after {
  width: 100%;
}

.btn-active-center-border.active::after {
  width: 100%;
}